


{% paginate collection.products by 12 %}
  <header class="product-collection" role="banner">
    <h1>{{ collection.title }}</h1>
    {% if collection.description != blank %}
      <div class="collection-intro">
       <p>{{ collection.description }}</p>
      </div>
    {% endif %}

   
  </header>
  <div class="container">

  <div class="three-col products">
    {% for product in collection.products %}

      <div class="products-item">



        {% if product.featured_image != blank %}
          <a href="{{ product.url | within: collection }}">
            {{ product.featured_image.src | img_url: 'master' | img_tag: product.featured_image.alt }}



          </a>
        {% endif %}


          {% unless product.available %}
<div class="low-quantity">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 159.43 159.43"><g id="Layer_2" data-name="Layer 2"><g id="SOLD_OUT" data-name="SOLD OUT"><rect x="-14.83" y="61.52" width="189.08" height="36.39" transform="translate(-33.02 79.71) rotate(-45)" style="fill:#D6B273"/><path d="M62.17,104.1a4.31,4.31,0,0,0,2-1.11,1.69,1.69,0,0,0,.26-2.54c-.62-.62-1.34-.62-2.58-.07-1.48.7-2.71.81-3.66-.13s-.95-2.67.35-4a4.29,4.29,0,0,1,1.8-1.15l.47.94a3.77,3.77,0,0,0-1.58,1,1.53,1.53,0,0,0-.26,2.26c.62.62,1.34.53,2.62,0,1.56-.69,2.68-.72,3.66.26s1.16,2.68-.42,4.26A4.88,4.88,0,0,1,62.67,105Z"/><path d="M70.51,91c2.3,2.3,2.12,4.91.42,6.62s-4.37,1.63-6.39-.39-2.19-4.82-.41-6.61S68.53,89.05,70.51,91Zm-5.07,5.29c1.43,1.43,3.48,1.93,4.83.57s.88-3.4-.63-4.91c-1.33-1.33-3.41-2-4.84-.58S64,94.86,65.44,96.32Z"/><path d="M68.36,86.65l.86-.86,6,6L78,88.89l.72.72L75,93.33Z"/><path d="M73.12,82.07a17.7,17.7,0,0,1,1.7-2,5.41,5.41,0,0,1,3.54-1.87,4.35,4.35,0,0,1,3.34,1.46,5,5,0,0,1,1.63,3.55,5.82,5.82,0,0,1-2,3.91,19.56,19.56,0,0,1-1.64,1.49Zm6.77,5a7.63,7.63,0,0,0,.92-.82c1.84-1.84,1.81-3.87,0-5.67-1.56-1.59-3.46-1.7-5.28.13a7,7,0,0,0-.92,1.1Z"/><path d="M90.7,70.85c2.3,2.3,2.12,4.91.42,6.62s-4.37,1.63-6.39-.39-2.19-4.82-.41-6.61S88.72,68.87,90.7,70.85Zm-5.07,5.29c1.43,1.43,3.48,1.93,4.83.57s.88-3.4-.63-4.91c-1.33-1.33-3.41-2-4.84-.58S84.16,74.67,85.63,76.14Z"/><path d="M89.41,65.61l4,4c1.49,1.5,2.79,1.47,3.68.57s1-2.28-.5-3.75l-4-4,.87-.87,3.89,3.89c2.05,2.05,1.81,4,.37,5.42s-3.18,1.61-5.25-.46l-3.93-3.93Z"/><path d="M97,59.53l-2,2-.73-.73,4.94-4.94.73.73-2,2,5.94,5.94-.87.87Z"/></g></g></svg>
</div>
         
          {% endunless %}

      {% for variant in product.variants %}
          {% if variant == product.selected_or_first_available_variant %}
        {%  assign stocklevel = variant.inventory_quantity %}

{% if stocklevel <= 3 %}
          {% if product.available == true %}
<div class="low-quantity">

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 159.43 159.43"><g id="Layer_2" data-name="Layer 2"><g id="SOLD_OUT" data-name="SOLD OUT"><rect x="-14.83" y="61.52" width="189.08" height="36.39" transform="translate(-33.02 79.71) rotate(-45)" style="fill:#D6B273"/><path d="M53.75,101.27l.86-.86,6,6,2.85-2.85.72.72-3.71,3.71Z"/><path d="M67,94.54c2.3,2.3,2.12,4.91.42,6.62s-4.37,1.63-6.39-.39-2.19-4.82-.41-6.61S65,92.56,67,94.54Zm-5.07,5.29c1.43,1.43,3.48,1.93,4.83.57s.88-3.4-.63-4.91c-1.33-1.33-3.41-2-4.84-.58S60.47,98.37,61.93,99.83Z"/><path d="M72.62,95.75l-8.37-5,.91-.91,4.17,2.59c1,.63,2,1.29,2.8,1.81l0,0c-.55-.77-1.14-1.77-1.77-2.86L67.9,87.11l.9-.9L73,88.78c1,.6,2,1.22,2.75,1.82l0,0c-.59-.87-1.15-1.8-1.77-2.84l-2.49-4.25.88-.88,4.78,8.57-.9.9L72,89.45a28.71,28.71,0,0,1-2.62-1.74l0,0A29.79,29.79,0,0,1,71,90.42l2.53,4.43Z"/><path d="M80.83,85.43a4.31,4.31,0,0,0,2-1.11,1.69,1.69,0,0,0,.26-2.54c-.62-.62-1.34-.62-2.58-.07-1.48.7-2.71.81-3.66-.13s-.95-2.67.35-4A4.3,4.3,0,0,1,79,76.47l.46.94a3.77,3.77,0,0,0-1.58,1,1.53,1.53,0,0,0-.26,2.26c.62.62,1.34.52,2.62,0,1.56-.69,2.68-.72,3.67.26s1.16,2.68-.42,4.26a4.89,4.89,0,0,1-2.13,1.28Z"/><path d="M82.21,74.27l-2,2-.73-.73,4.94-4.94.73.73-2,2L89,79.34l-.87.87Z"/><path d="M93.83,67.72c2.3,2.3,2.12,4.91.42,6.62s-4.37,1.63-6.39-.39-2.19-4.82-.41-6.61S91.85,65.74,93.83,67.72ZM88.76,73c1.43,1.43,3.48,1.93,4.83.57s.88-3.4-.63-4.91c-1.33-1.33-3.41-2-4.84-.58S87.3,71.54,88.76,73Z"/><path d="M102.8,65.13a6.06,6.06,0,0,1-1.45,2.08,4.41,4.41,0,0,1-6.67-.08,4.7,4.7,0,0,1,0-7,5.06,5.06,0,0,1,1.88-1.29l.5.91a4.44,4.44,0,0,0-1.62,1.07c-1.57,1.57-1.61,3.61.15,5.36s3.63,1.74,5.25.12a4.86,4.86,0,0,0,1.13-1.68Z"/><path d="M97.42,57.59l.86-.86,3.22,3.22,0,0c-.08-.43-.14-.85-.19-1.24l-.46-4.55,1.07-1.07.42,5.25,6.45,1.24-1,1-5.48-1.08.1,1.37L105,63.41l-.86.86Z"/></g></g></svg>
</div>
  {% endif %} 

  {% endif %} 



           {% endif %}
            {% endfor %}
       
  
        <p>
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        </p>
  {% if sold_out %}
        <div class="grid-product__sold-out">
        <img src="https://cdn.shopify.com/s/files/1/2140/7529/files/sold_6e1ca257-37c6-4227-b8a7-bd199fbe6a19.svg?928022969887415564">
        </div>

      {% endif %}
        <p>
          {% if product.compare_at_price > product.price %}

            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              {{ 'products.product.on_sale' | t }}
              {{ product.price | money }}
            {% endif %}

          {% else %}

            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money }}
            {% endif %}

          {% endif %}

          {% if product.compare_at_price > product.price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <s>{{ product.compare_at_price | money }}</s>
          {% endif %}

   

        </p>


      </div>

    {% else %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
        {% for i in (1..8) %}
          <a href="#">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          </a>

          <p>
            <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
          </p>

          <p>
            {{ 1999 | money }}
          </p>
        {% endfor %}
      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}

    {% endfor %}
  </div>
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
{% endpaginate %}
